extends layout
block content
  .container.page-wrap
    .row
      .span10.offset2.page-title
        h1
          | Welcome to Node, Express, Bootstrap Boilerplate
    .row
      .span10.offset2
        button.the-button=action


